web-api/.vs/web-api/FileContentIndex/533b5d26-20fb-4b37-b0fb-ca3e14a67e0a.vsidx
/web-api/.vs/web-api/FileContentIndex
web-api/web-api/obj/Debug/net8.0/web-api.sourcelink.json
web-api/web-api/obj/Debug/net8.0/web-api.pdb
web-api/web-api/obj/Debug/net8.0/web-api.dll
web-api/web-api/obj/Debug/net8.0/web-api.csproj.CoreCompileInputs.cache
web-api/web-api/obj/Debug/net8.0/web-api.AssemblyInfoInputs.cache
web-api/.vs/web-api/v17/.suo
web-api/.vs/web-api/v17/.futdcache.v2
web-api/.vs/web-api/DesignTimeBuild/.dtbcache.v2
web-api/.vs/web-api/copilot-chat/69194db4/sessions/05ffa194-7625-4aef-807d-cc446d314fc1
web-api/.vs/ProjectEvaluation/web-api.projects.v7.bin
web-api/.vs/ProjectEvaluation/web-api.metadata.v7.bin
web-api/web-api/obj/Debug/net8.0/web-api.sourcelink.json
web-api/web-api/obj/Debug/net8.0/web-api.pdb
web-api/web-api/obj/Debug/net8.0/web-api.dll
web-api/web-api/obj/Debug/net8.0/web-api.csproj.CoreCompileInputs.cache
web-api/web-api/obj/Debug/net8.0/web-api.AssemblyInfoInputs.cache
web-api/web-api/obj/Debug/net8.0/refint/web-api.dll
web-api/web-api/obj/Debug/net8.0/ref/web-api.dll
web-api/web-api/obj/Debug/net8.0/apphost.exe
