/web-api/web-api/obj
/web-api/web-api/bin
/web-api/.vs

.vscode/settings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/FMS/v17/DocumentLayout.json
.vs/FMS/v17/.wsuo
.vs/FMS/FileContentIndex/b725d6cd-cbc5-4aa2-bb89-4f14b43cddd5.vsidx
.vs/FMS/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/FMS/CopilotIndices/17.13.441.19478/CodeChunks.db
