/web-api/web-api/obj
/web-api/web-api/bin/Debug
/web-api/web-api/bin/Release/net8.0
/web-api/web-api/bin/Release/net9.0
!/web-api/web-api/bin/Release/bash
!/web-api/web-api/bin/bash/wait-for-sqlserver.sh

/web-api/.vs

.vscode/settings.json
.vs
